.edit-profile-container {
  background: #f6f7fb;
  height: 640px;
  width: 360px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  padding: 0 16px;
}

/* Header */
.edit-profile-header {
  background-color: #6337f1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 14px 0;
  border-radius: 10px;
}

.edit-profile-header span {
  position: absolute;
  left: 0;
  font-size: 22px;
  cursor: pointer;
}

.edit-profile-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

/* Profile Image */
.profile-image-section {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.profile-image {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-icon {
  position: absolute;
  right: 125px;
  bottom: 0;
  background: #6337f1;
  color: #fff;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 50%;
}

/* Form */
.profile-form {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
}

.profile-form label {
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 4px;
  display: block;
}

.profile-form input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin-bottom: 12px;
  font-size: 14px;
}

.input-with-action {
  position: relative;
}

.input-with-action span {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
  color: #6337f1;
  font-size:10px;
  font-weight: 600;
  cursor: pointer;
}

/* Update Button */
.update-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #6337f1;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}
