.feedback-container {
  padding: 16px;
  font-family: Arial, sans-serif;
  height: 640px;
  width: 360px;
  display: flex;
  flex-direction: column;

}

.feedback-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* .back-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  justify-content: left;
} */

.subtitle {
  color: #666;
  font-size: 14px;
  margin: 16px 0;
}

textarea {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 14px;
  resize: none;
}

.help-card {
  background: #f5f5f5;
  padding: 12px;
  border-radius: 10px;
  margin: 16px 0;
  font-size: 13px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #ccc;
  color: white;
  font-size: 15px;
  margin-top: auto;
}

.submit-btn.active {
  background: #5976aa;
  cursor: pointer;
}
