body, html {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fc;
}

.container {
  background-image: url("../assets/background.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.logo img {
  width: 100px;
  margin-bottom: 20px;
}

.welcome {
  font-size: 26px;
  color: linear-gradient(135deg, #052370, #0d2e6e, #6fa8ff);
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  text-align: left;
}

form label {
  display: block;
  font-size: 14px;
  margin: 10px 0 5px;
  font-family: cursive;
  font-weight: 600;
  color: #30323eef;
}

form input {
  width: 100%;
  padding: 12px;
  border: 3px solid #626d87;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: cursive;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #052370, #0d2e6e, #6fa8ff);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-family: cursive;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 15px;
  font-weight: bolder;
}

.login-btn:hover {
  background: linear-gradient(135deg, #052370, #0d2e6e, #6fa8ff);;
}

.extra-links {
  margin-top: 20px;
  font-size: 13px;
  color: #333;
  text-align: center;
}

.extra-links p {
font-family: cursive;
}

.extra-links .signup {
  background: none;
  border: none;
  color: #0d2e6e;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .container {
    width: 90%;
    min-height: auto;
    padding: 20px;
  }

  .logo img {
    width: 80px;
  }

  .welcome {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}