* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, html {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
  background: url(../assets/background.png) no-repeat center center/cover;
  width: 360px;
  height: 640px;
  border-radius: 20px;
  overflow: hidden;
  position: relative; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;      
  padding: 20px;
} */

.para {
  font-family: sans-serif;
}

.logo img {
  width: 90px;
  margin-bottom: 70px;
}

.content {
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}

.content h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #0b1c45;
  margin-bottom: 35px;
}

.content p {
  font-size: 1.3rem;
  font-style: italic;
  color: #003366;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}

.btn {
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 150px;
  text-align: center;
}

.btn-primary {
  background: #0b1c45;
  color: #fff;
}

.btn-secondary {
  background: #0b1c45;
  color: #fff;
}

.btn:hover {
  transform: scale(1.08);
}
